.form-overlay{
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.97);
  width: 100%;
  z-index: 900;
}

.form-getStarted{
  position: relative;
  width: 800px;
  height: 450px;
  padding: 50px;
  margin: 5px;
  background-image: url(https://s3.us-east-2.amazonaws.com/mediumclonemakeitreal/signIn.png);
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 2px 10px rgba(0,0,0,.15);
}

.form-getStarted-btn-close{
  position: absolute;
  top:0;
  right: 0;
  padding: 15px;
  border-width: 0;
  background-color: rgba(0,0,0,0);  
  color: rgba(0,0,0,.54);
  cursor: pointer;
}

.form-getStarted-btn-close:focus{
  outline: none;
}

.form-getStarted-h1{
  font-family: "Lora", serif;
  font-size: 32px;
  color:rgba(0,0,0,.84);
  margin:0;
  margin-bottom: 20px;
}

.form-getStarted-h2{
  font-size: 14px;
  color:rgba(0,0,0,.76);
  width: 300px;
  margin: auto;
  font-weight: 400;
}

.form-getStarted-label{
  font-size: 12px;
  color:rgba(0,0,0,.76);
  width: 300px;
  margin: auto;
  font-weight: 400;
  margin-top: 15px;
}

.form-getStarted-imput{
  border:0;
  border-bottom: 1px solid rgba(0,0,0,.15);
  background: 0;
  height: 25px;
  font-weight: 400;
  font-size: 14px;
}

.form-getStarted-imput:focus{
  outline: none;
}

.form-getStarted-btn-submit{
  display: inline-block;
  position: relative;
  padding: 0 18px;
  background: rgba(0,0,0,.84);
  color: rgba(255,255,255,.97);
  font-weight: 400;
  font-size: 14px;
  height: 37px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-getStarted-btn-submit:focus{
  outline: none;
}

.form-getStarted-btn-back{
  color:#218799;
  font-size: 12px;
  cursor: pointer;
}