.load-container{
    display: flex;
    width: 800px;
    margin: auto;
    user-select: none;
}

.load-card-banner-img{
    margin: 0;
    padding: 0;
    height: 400px;
    width:  400px;
}

.load-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 400px;
}

.load-card-user{
    display: flex;
    align-items: center;
}

.load-card-user p{
    margin-left: 10px;
    color : rgba(0,0,0,.84);
    font-weight: 400;
}


.load-card-user-img{
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    margin-top: 20px;
}

.load-storie-title{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 700px;
    font-family: "Lora", serif;
    font-size: 36px;
    text-align: left;
    border:0;
    width: 400px;
}
.load-body{
    margin-bottom: 30px;
}

.like-btn,
.clap-btn {
  display: inline-block;
  Cursor: pointer;
  width: 80px;
  height: 80px;
}

.like-btn {
  background: url('https://i.ibb.co/vw78mf3/heart.png') no-repeat 0% 50%;
  background-size: 2900%;
  position: absolute;
  left: 100px;
  top: 300px;
}

.clap-btn {
  background: url('https://i.ibb.co/GVsbrFF/claps.png') no-repeat 0% 50%;
  background-size: 900%;
  position: absolute;
  left: 100px;
  top: 250px;
}

.book-btn{
  position: absolute;
  left: 122px;
  top: 370px;
  fill:rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.like-active,
.clap-active,
.book-active{
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.like-active {
  animation-timing-function: steps(28);
}

.clap-active {
   animation-timing-function: steps(8);
}

.book-active {
  fill:rgba(0, 0, 0, 0.89);
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

#book-btn path{
  transform: scale(1.45);
}