.nav-userNav-over{
  top: 65px;
  right: 74px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.nav-userNav-over-inner{
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
  width: 230px;
  border-radius: 4px;  
}

.nav-userNav-over-head{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 25px 25px 10px 25px;
}

.nav-userNav-over-head-img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 14px;
}

.nav-userNav-over-head-p{
  color:rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-size: 16px;
  text-align: left;
}

.nav-userNav-over-arrow{
  width: 14px;
  height: 14px;
  position: fixed;
  top:59px;
  color: #fff;
  z-index: 900;
}

.nav-userNav-over-arrow::after{
  content: '';
  display: block;
  background-color: #fff;
  box-shadow: -1px -1px 1px -1px rgba(0,0,0,.54);
  transform: rotate(45deg);
  margin: 0;
  width: 14px;
  height: 14px;
}

.nav-userNav-over li{
  list-style: none;
}

.nav-userNav-over ul{
  margin: 0;
}

.nav-userNav-over-separador{
  border-top:solid 1px rgba(0,0,0,.05);
  width: 230px;
}

.nav-userNav-over-section{
  text-align: left;
  padding: 7px 25px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  margin: 10px 0px;
}

.nav-userNav-over-section a{
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}