@import url("https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,900|Playfair+Display:900");

html, body{
  height: 100%;
}
.storie-title{
  margin: auto;
  width: 700px;
  font-family: "Lora", serif;
  font-size: 42px;
  text-align: left;
}
.storie-p{
  margin: auto;
  width: 700px;
  font-family: "Lora", serif;
  font-size: 20px;
  text-align: left;
}
.storie-title:focus{
  outline: none;
}
.storie-p:focus{
  outline: none;
}

a{
  color: green;
  text-decoration: none;
}