@import url("https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,900|Playfair+Display:900");

html, body{
  height: 100%;
}
.storie-title{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 700px;
  font-family: "Lora", serif;
  font-size: 42px;
  text-align: left;
  border:0;
}
.storie-p{
  margin: auto;
  width: 700px;
  font-family: "Lora", serif;
  font-size: 20px;
  text-align: left;
}
.storie-title:focus{
  outline: none;
}
.storie-p:focus{
  outline: none;
}

.storieCont a{
  color: green;
  text-decoration: none;
}

.medium-editor-placeholder{
  display: flex;
  text-align: center;
}